<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Test</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
   <div class="container mt-5">
    <h2>Create Test</h2>
<form th:action="@{/api/test/createTest}" th:object="${test}" method="post">
        <div class="mb-3">
            <label>Title</label>
            <input type="text" th:field="*{title}" class="form-control" placeholder="Title" required/>
        </div>

        <div class="mb-3">
            <label>Time per Question</label>
            <input type="number" th:field="*{time}" class="form-control" placeholder="Time seconds per question" required/>
        </div>
         <div class="mb-3">
            <label>Description</label>
            <textarea id="description" th:field="*{description}" rows="4" cols="150"></textarea>
        </div>
        

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
   </div>
    
</body>
</html>